/* partners block setup starts ////////////////////////// */

.partners{
  padding-top: 75px;
  &__list{
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* partners block setup ends ////////////////////////// */